.collectButton {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 12px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collectButton.collected {
    justify-content: space-between;
}

@media (min-width: 768px) {
    .collectButton {
        justify-content: center;
    }
}

.collected {
    opacity: 0.5;
}

.collected:hover {
    cursor: not-allowed;
}

.collected i {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0 1rem;
    font-size: 2rem;
    transform: translate(0, -50%);
}